@using DMS.Sample.Contracts;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebApplication1</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    @await Html.PartialAsync("_DateTimeInfo")
    @{
        await Html.RenderPartialAsync("_Head");
    }
    @RenderBody()
    @{
        await Html.RenderPartialAsync("_Foot", new UserEntity() { UserID = 1, UserName = "hailang", Pwd = "123", Time = DateTime.Now });
    }
</body>
</html>
